<!doctype html>
<html>
  <head>
    <title>Rss Reader</title>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blogs">Blogs</a>
      <a href="/posts">Posts</a>
    </nav>
    <main>
      {% block body %}
        TODO
      {% endblock %}
    </main>
  </body>
</html>
