{% extends "base.jinja" %}
{% block body %}
<button hx-target="ul" hx-swap="beforestart" hx-get="/blogs/new">New Blog</button>
<ul>
  {% for blog in blogs %} 
    <li>
      {% include "fragment_blog.jinja" %}
    </li>
  {% endfor %}
</ul>

{% endblock %}
