{% extends "base.jinja" %}
{% block body %}
<button class="btn btn-primary" hx-target="#blogs" hx-swap="afterbegin" hx-get="/blogs/new">New Blog</button>
<div id="blogs">
  {% for blog in blogs %} 
    {% include "fragment_blog.jinja" %}
  {% endfor %}
</div>

{% endblock %}
