<div id="blog-{{ blog.id }}">
  <button class="btn btn-light btn-sm" hx-get="/blogs/{{ blog.id }}/edit" hx-target="#blog-{{ blog.id }}">Edit</button>
  <a class="link-dark" hx-boost="true" href="/posts?blog_id={{ blog.id }}">{{ blog.title }}</a>
</div>
