<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RssReader</title>
    <script type="importmap"></script>
  </head>
  <body>
    <header>
      <nav class="">
          <!--<button class="" type="button" aria-label="Toggle navigation"> </button>-->
            <a class="" asp-page="/Index">Home</a>
            <a class="" asp-page="/Blogs">Blogs</a>
            <a class="" asp-page="/Posts">Posts</a>
      </nav>
    </header>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
