@page
@model BlogsModel

<div class="text-center">
    @foreach (var blog in Model.Blogs)
    {
        <li><a href=@blog.XmlUrl>@blog.Title</a><button type="submit" name="SyncBlogId" value="@blog.Id">Sync</button></li>
    }
</div>
