@page
@model IndexModel

<div class="text-center">
  <p>Welcome to my RSS reader</p>

  <p>Import your feed in OPML format</p>
  <form method="post" enctype="multipart/form-data"> 
    <input required type="file" name="Import" accept="text/xml">
    <button>Upload</button>
  </form>

  <p>
    @Model.UploadMessage
  </p>


</div>
